html{
   cursor: url(imagens/mata_moscas.png) 30 30, auto; 
}
body{
    
    background-image: url(imagens/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.mosquito1{
    height: 70px;
    width: 70px;
}
.mosquito2{
    height: 90px;
    width: 90px;
}
.mosquito3{
    height: 110px;
    width: 110px;
}
.ladoA{
    transform: scaleX(1);
}
.ladoB{
    transform: scaleX(-1);
}
.painel{
    position: absolute;
    width: 190px;
    padding: 10px;
    top: 0px;
    left: 0px;
    border-top: 1px solid white;
    background-color:  white;
    opacity: 0.8;
}
.vidas{
    float: left;
}
.cronometro{
    float: left;
    font-size: 20px;
    font-weight: bold;
}
.logo{
    width: 650px;


}
.game-over{
    width: 600px;
}
.cheio{
    width: 30px;
}
.venceu{
    width: 600px;
}